body{
    background-color: rgb(117, 86, 255);
}

.form{
    width: 250px;
    height: 250px;
    background-color: antiquewhite;
    border-radius: 15px;
        display: flex;
    justify-content: center; /* กลางแนวนอน */
    align-items: center;     /* กลางแนวตั้ง */
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

div {
    margin-top: 10px;
}

.center-container {
    height: 50vh;/* ความสูงเกือบเต็มหน้าจอ */
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
  width: 160px;
  padding: 10px 22px;
  border-radius: 6px;
  color: white;
  background-color: blueviolet;
  border: none;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
  
}

button:hover{
    transition-duration: 2s;
    background-color: rgb(139, 215, 62);
}

button:active{
    transform: translateY(10px);
    box-shadow: 0px 2px 0px rgb(100, 50, 150);
}

input{
    width: 160px;
    padding: 10px;
}

.name{
    font-size: 20px;
    font-weight: bold;
}